.mb-3{
    position: relative;
    .eye-btn {
        border: none !important;
        position: absolute;
        right: 5px;
        top: 36px;
        background: #fff !important;
    }
}
.navbar-content
{
  background-color: white;
  box-shadow: 0px 2px 5px -3px rgba(230,230,230,1);
}
