<section>
    <div class="container">
      <div class="row style-heading">
        <div class="col-sm-12">
          <div class="d-flex justify-content-between">
            <h4>Delivery</h4>
            <a class="btn btn-primarys mb-2" (click)="openClientModal()"><i
                class="feather icon-plus icon-md items-plus"></i> Add Delivery</a>
          </div>
        </div>
      </div>
      <div class="card bg-white">
        <div class="row" style="overflow-x: auto;">
          <table id="myTable8" class="table table-responsive" style="width:100%">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Tracking No.</th>
                <th>Origin</th>
                <th>Shipper</th>
                <th>Mobile Number</th>
                <th>Delivery Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index">
                <td>{{ i + 1 }}</td>
                <td style="font-weight: bold; color: #2c7be5; padding: 4px;">{{ item.tracking_number }}</td>
                <td>{{ item.origin }}</td>
                <td>{{ item.shipper}}</td>
                
                <td>{{ item.mobile_number }}</td>
                <td>{{ item.delivery_date | date:"dd/MM/yyyy"}}</td>
                <td [ngClass]="getStatusClass(item.status)" class="fw-bold">
                    {{ item.status }}
                </td>
                <td>
                  <!-- <i class="feather icon-edit me-2 items-icon text-primary" ngbTooltip="Edit" container="body"
                    (click)="onEdit(item.id)"></i> -->
                  <i class="feather icon-trash me-2 items-icon text-danger" ngbTooltip="Delete" container="body"
                    (click)="onDelete(item.id)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
  
    </div>
  
  </section>