.footer {
  bottom: 0;
  /* color: $bodytext; */
  left: 235px;
  padding: 17px 15px;
  //position: fixed;
  right: 0;
  border-top: 1px solid grey;
  background: white;
}

@media only screen and (max-width: 991px) and (min-width: 300px) {
  .footer {
    left: 0px;
  }
}
