<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper bg-dark">
            <div class="img_box">
              <img src="../../../../../assets/images/image/celetel_white.svg" alt="Celetel">
            </div>
          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="nobleui-logo d-block mb-2"><img
                src="../../../../../assets/images/image/main_logo.svg" alt=""></a>
            <h5 class="text-muted fw-normal mb-4">Reset Your Password</h5>

            <!-- Email form for enter  -->
            <div *ngIf="hideforgetmail">
              <form [formGroup]="forgetPasswordForm" class="forms-sample">
                <div class="mb-3">
                  <label for="exampleInputUsername1" class="form-label">User ID</label>
                  <input type="email" class="form-control" id="exampleUserId" placeholder="Enter UserID"
                    formControlName="email">
                  <span class="text-danger" *ngIf="h.email.invalid && (h.email.touched || submitted || h.email.dirty)">
                    <span class="text-danger" *ngIf="h.email.errors.required">Email is required</span>
                  </span>
                </div>
                <div>
                  <button type="button" class="btn btn-primary me-2 mb-2 mb-md-0"
                    (click)="forgetClick()">Submit</button>
                </div>
              </form>
            </div>

            <!-- otp varification -->
            <div *ngIf="!hideforgetmail && showchangepassword">
              <form [formGroup]="otpForm" class="forms-sample">
                <div class="mb-3">
                  <label for="exampleInputUsername1" class="form-label">OTP Verification</label>
                  <input type="text" class="form-control" id="exampleUserId" placeholder="Enter OTP"
                    formControlName="otp" maxlength="4">
                  <span class="text-danger" *ngIf="g.otp.invalid && (g.otp.touched || submitted || g.otp.dirty)">
                    <span class="text-danger" *ngIf="g.otp.errors.required">OTP is required</span>
                  </span>
                  <div class="text-danger" *ngIf="wrongotp">Please enter correct OTP!</div>
                </div>
                <div>
                  <button type="button" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="otpClick()">Verify</button>
                </div>
              </form>
            </div>

            <!-- Change new password  -->
            <div *ngIf="!showchangepassword">
              <form [formGroup]="changePasswordForm" class="forms-sample">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">New Password</label>
                  <input type="password" class="form-control" id="examplenewpassword" autocomplete="New-password"
                    placeholder="Enter Password" formControlName="password">
                  <span *ngIf="f.password.invalid && (f.password.touched || submitted || f.password.dirty)"
                    class="text-danger">
                    <span *ngIf=" f.password.errors.required">Password is required</span>
                  </span>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" id="exampleconfirmpassword"
                    autocomplete="Confirm-password" placeholder="Enter Confirm Password"
                    formControlName="confirmpassword">
                  <span
                    *ngIf="f.confirmpassword.invalid && (f.confirmpassword.touched || submitted || f.confirmpassword.dirty)"
                    class="text-danger">
                    <span *ngIf="f.confirmpassword.errors.required">Confirm Password is required</span>
                    <span *ngIf="f.confirmpassword.errors.MustMatch">Confirm Password didn't match with password</span>
                  </span>
                </div>
                <div>
                  <button type="button" class="btn btn-primary me-2 mb-2 mb-md-0"
                    (click)="changePassword()">Save</button>
                </div>
              </form>
            </div>
            <a routerLink="/auth/login" class="d-block mt-3 text-muted">Already a user? Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>