<section>
  <div class="container">
    <div class="row style-heading">
      <div class="col-sm-12">
        <div class="d-flex justify-content-between">
          <h4>Manifest</h4>
          <a class="btn btn-primarys mb-2" (click)="openClientModal()"><i
              class="feather icon-plus icon-md items-plus"></i> Add Manfest</a>
          
        </div>
      </div>
    </div>
    <div class="card bg-white">
      <div class="row" style="overflow-x: auto;">
        <table id="myTable1" class="table table-responsive" style="width:100%">
          <thead>
            <tr>
              <th>Manifest Number</th>
              <th>Date</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Vehicle Number</th>
              <th>Total Packages</th>
              <th>Total Weight</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
              <td>{{ item.manifest_number }}</td>
              <td>{{ item.created_at | date:'dd/MM/yyyy' }}</td>
              <td>{{ item.origin }}</td>
              <td>{{ item.destination }}</td>
              <td>{{ item.vehicle_number }}</td>
              <td>{{ item.total_packages }}</td>
              <td>{{ item.total_weight }}</td>
              <td>{{ item.status }}</td>
              <td>
                <i class="feather icon-edit me-2 items-icon text-primary" ngbTooltip="Edit" container="body"
                  (click)="editManifest(item.id)">
                </i>
                <i class="feather icon-trash me-2 items-icon text-danger" ngbTooltip="Delete" container="body"
                  (click)="deleteManifest(item.id)">
                </i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>


<div class="modal-backdrop fade" [class.show]="showViewModal" [style.display]="showViewModal ? 'block' : 'none'"></div>